<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Новый заказ</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/create-order.css}" />
  </head>
  <body>
    <div class="main-content">
      <h1>Новый заказ</h1>

      <div class="container">
        <div class="sidebar">
          <ul>
            <li><a href="/create-order">Новый заказ</a></li>
            <li><a href="/view-orders">Просмотр заказов</a></li>
            <li><a href="/login">Выход</a></li>
          </ul>
        </div>

        <div class="form-column">
          <form
            th:action="@{/create-order}"
            method="post"
            id="orderForm"
            enctype="application/json"
          >
            <h2>Выбор блюда</h2>
            <p>
              <select id="typeSelect" onchange="filterDishesByType()">
                <option value="" disabled>Select a type</option>
                <option
                  th:each="type : ${types}"
                  th:value="${type.id}"
                  th:text="${type.name}"
                />
              </select>
            </p>
            <p>
              <select id="dishSelect" name="dish_id" required>
                <option value="" disabled>Select a dish</option>
                <option
                  th:each="dish : ${dishes}"
                  th:value="${dish.id}"
                  th:text="${dish.name} + ' - ' + ${dish.cost}+'руб.'"
                  th:data-type-id="${dish.type.id}"
                  th:data-cost="${dish.cost}+'руб.'"
                />
              </select>
            </p>
            <p>
              <button type="button" onclick="addDish()" id="addDishButton">
                Добавить блюдо
              </button>
            </p>
          </form>
        </div>

        <div class="order-column">
          <h2>Текущий заказ</h2>
          <p>
            Столик:
            <select name="table_id" required id="tableSelect">
              <option value="" selected>Выберите столик</option>
              <option
                th:each="table : ${tables}"
                th:value="${table.id}"
                th:text="${table.id}"
              />
            </select>
          </p>
          <h2>Выбранные блюда:</h2>
          <div id="selectedDishes"></div>
          <div class="total-cost">
            <p id="totalCost">Совокупная стоимость: 0руб.</p>
            <p>
              <button type="reset" onclick="resetOrder()">
                Сбросить заказ
              </button>
            </p>
            <input type="hidden" name="table_id" id="table_id" />
            <button type="submit" form="orderForm">Создать заказ</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" th:src="@{/js/create-order.js}"></script>
  </body>
</html>
