<!DOCTYPE html>
<html>
  <head>
    <title>Отслеживание статусов заказов</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/manage-orders.css}" />
  </head>
  <body>
    <div class="main-content">
      <h1>Список заказов</h1>
      <div class="filter-section">
        <form action="/manage-orders" method="get">
          <div class="form-group">
            <label for="status">Фильтр по статусу:</label>
            <select name="status" id="status">
              <option value="">Все</option>
              <option value="Принят">Принятые</option>
              <option value="Подан">Поданные</option>
              <option value="Закрыт">Завершенные</option>
            </select>
          </div>
          <div class="form-group">
            <label for="date">Фильтр по дате:</label>
            <input type="date" id="date" name="date" />
          </div>
          <div class="form-group">
            <input type="submit" value="Применить фильтры" />
          </div>
        </form>
      </div>
      <div class="container">
        <div class="sidebar">
          <ul>
            <li><a href="/view-schedule">Расписание</a></li>
            <li><a href="/assign-shifts">Назначение смен</a></li>
            <li><a href="/book-table">Бронирование столиков</a></li>
            <li><a href="/manage-orders">Работа с заказами</a></li>
            <li><a href="/login">Выход</a></li>
          </ul>
        </div>
        <div class="order-container">
          <div th:each="order : ${orders}">
            <div class="order-container">
              <div class="order-info">
                <div>
                  <div class="order-info-item">
                    <strong>Номер заказа:</strong>
                    <span th:text="${'№'+order.id}"></span>
                  </div>
                  <div class="order-info-item">
                    <strong>Столик:</strong>
                    <span th:text="${'№'+order.table.id}"></span>
                  </div>
                  <div class="order-info-item">
                    <strong>Информация о заказе:</strong>
                    <span th:utext="${order.information}"></span>
                  </div>
                  <div class="order-info-item">
                    <strong>Общая стоимость:</strong>
                    <span th:text="${order.totalCost + 'руб.'}"></span>
                  </div>
                  <div class="order-info-item">
                    <strong>Статус заказа:</strong>
                    <span th:text="${order.status}"></span>
                    <form
                      th:action="@{'/update-status-manager/' + ${order.id}}"
                      method="post"
                    >
                      <select name="status">
                        <option value="Принят">Принят</option>
                        <option value="Подан">Подан</option>
                        <option value="Закрыт">Закрыт</option>
                      </select>
                      <button type="submit">Изменить статус</button>
                    </form>
                  </div>
                  <div class="order-info-item">
                    <strong>Дата и время начала:</strong>
                    <span th:text="${order.startTime}"></span>
                  </div>
                  <div class="order-info-item">
                    <strong>Дата и время окончания:</strong>
                    <span th:text="${order.endTime}"></span>
                  </div>
                  <div>
                    <h3>Заказанные блюда:</h3>
                    <table>
                      <thead>
                        <tr>
                          <th>№</th>
                          <th>Блюдо</th>
                          <th>Статус</th>
                          <th>Действие</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="dish, iterStat : ${order.orderedDishes}">
                          <td th:text="${iterStat.index + 1}"></td>
                          <td th:text="${dish.dish.name}"></td>
                          <td th:text="${dish.status}"></td>
                          <td>
                            <form
                              th:action="@{'/update-dish-status-manager/' + ${dish.id}}"
                              method="post"
                            >
                              <select name="status">
                                <option value="Принят">Принят</option>
                                <option value="Подан">Подан</option>
                                <option value="Закрыт">Закрыт</option>
                              </select>
                              <button type="submit">Изменить статус</button>
                            </form>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
